<!DOCTYPE html>
<html ng-app="widgetsDirectory">
<head>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Web AppBuilder for ArcGIS - Custom widgets directory</title>
    <meta name="description" content="Directorio de widgets personalizados para Web AppBuilder for ArcGIS" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://js.arcgis.com/3.12/esri/css/esri.css">
    <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body ng-controller="MainCtrl">

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
            <h1 class="text-muted">Web AppBuilder for ArcGIS</h1>
            <h2>Custom Widgets Directory</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 search-bar col-md-offset-2">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-search"></i></span>
                <input ng-model="query" type="text" class="form-control" placeholder="Filtrar" aria-describedby="basic-addon1">
            </div>
        </div>

        <div class="col-md-8 col-md-offset-2">
            <div class="clearfix">
                <p class="pull-left">
                    <button class="btn btn-success btn-xs" type="button" data-toggle="modal" data-target="#formModal">
                        <i class="glyphicon glyphicon-send glyphicon " style="margin-right: 5px"></i> Enviar nuevo widget
                    </button>
                </p>
                <p class="pull-right ">Widgets: {{filtered.length}} de {{widgets.length}}</p>
            </div>
            <ul id="widget-list">
                <li ng-repeat="w in filtered = (widgets | filter:filterFunction)" ng-click='preview(w.index)'>
                    <strong>{{w.gsx$nombre.$t}}</strong>
                    {{w.gsx$descripcion.$t}}<br>
                    <span class="author">Autor: {{w.gsx$autor.$t}}</span>
                    <button class="btn btn-primary" ng-click='preview(w.index)'><i class="glyphicon glyphicon-eye-open"></i></button>
                </li>
            </ul>

        </div>

    </div>
    <footer class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
            <div class="footer">
                Powered by Github | Author: <a href="http://github.com/hhkaos">Raúl Jiménez Ortega (@hhkaos)</a>
            </div>
        </div>
    </footer>
</div>


<div class="modal large fade" id="widgetModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">{{w.gsx$nombre.$t}}</h4>
            </div>
            <div class="modal-body">
                <p>
                    <strong>Autor:</strong> {{w.gsx$autor.$t}}
                </p>
                <p>
                    <strong>Descripción:</strong> {{w.gsx$descripcion.$t}}
                </p>


                <p ng-if="!w.gsx$urldemo.$t"><strong>Preview:</strong> Este widget no tiene previsualización</p>

                <iframe ng-if="w.gsx$urldemo.$t" ng-src="{{w.gsx$urldemo.$t | trusted}}"></iframe>

            </div>
            <div class="modal-footer">
                <div class="btn-group pull-left" role="group" aria-label="...">
                    <a class="btn btn-warning" type="button" class="btn btn-default" href="{{w.gsx$urldescarga.$t}}" target="_blank">
                        Descargar <i class="glyphicon glyphicon-arrow-down"></i>
                    </a>
                    <a class="btn btn-primary" type="button" class="btn btn-default" href="{{w.gsx$info.$t}}">
                        Info <i class="glyphicon glyphicon-info-sign"></i>
                    </a>
                </div>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>

    </div>
</div>

<div class="modal large fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Enviar nuevo widget</h4>
            </div>
            <div class="modal-body">
                <iframe src="https://docs.google.com/forms/d/1M9VwuGpCqs9c5bJTlBaOWHeADPbn7fZozwSdiQCUQCs/viewform"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>

    </div>
</div>


<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5110fe544ae3cec6" async="async"></script>


<a href="http://www.esri.es" target="_blank"><img src="images/esri_espana.jpg" id="esriLogo"></a>

<a href="https://github.com/esri-es/Web-AppBuilder-Custom-Widgets"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
<script type="text/javascript" src="http://js.arcgis.com/3.12compact"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/js/modal.js"></script>
<script src="main.js"></script>
</body>
</html>