<!DOCTYPE html>
<html ng-app="widgetsDirectory">
<head>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>#WebAppBuilder for #ArcGIS - Custom widgets directory</title>
    <meta name="description" content="Directorio de widgets personalizados para Web AppBuilder for ArcGIS" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://js.arcgis.com/3.12/esri/css/esri.css">
    <link rel="stylesheet" type="text/css" href="main.css">
    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</head>
<body ng-controller="MainCtrl">

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
            <!-- Place this tag where you want the button to render. -->
            
            <ul id="language">
                <li ng-click="changeLanguage('es')">Español</li>
                <li ng-click="changeLanguage('en')">English</li>
            </ul>
            <h1 class="text-muted">Web AppBuilder for ArcGIS - {{ 'TITLE' | translate }}</h1>
            <div class="github">
                
                    <a class="github-button" href="https://github.com/esri-es/Web-AppBuilder-Custom-Widgets" data-icon="octicon-eye" data-style="mega" data-count-href="/esri-es/Web-AppBuilder-Custom-Widgets/watchers" data-count-api="/repos/esri-es/Web-AppBuilder-Custom-Widgets#subscribers_count" data-count-aria-label="# watchers on GitHub" aria-label="Watch esri-es/Web-AppBuilder-Custom-Widgets on GitHub">Watch</a>
                
                
                    <!-- Place this tag where you want the button to render. -->
                    <a class="github-button" href="https://github.com/esri-es/Web-AppBuilder-Custom-Widgets" data-icon="octicon-star" data-style="mega" data-count-href="/esri-es/Web-AppBuilder-Custom-Widgets/stargazers" data-count-api="/repos/esri-es/Web-AppBuilder-Custom-Widgets#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star esri-es/Web-AppBuilder-Custom-Widgets on GitHub" style="margin-right:1em">Star</a>
                
                
                    <!-- Place this tag where you want the button to render. -->
                    <a class="github-button" href="https://github.com/esri-es/Web-AppBuilder-Custom-Widgets/issues" data-icon="octicon-issue-opened" data-style="mega" data-count-api="/repos/esri-es/Web-AppBuilder-Custom-Widgets#open_issues_count" data-count-aria-label="# issues on GitHub" aria-label="Issue esri-es/Web-AppBuilder-Custom-Widgets on GitHub">Issue</a>
                
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 search-bar col-md-offset-2">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-search"></i></span>
                <input ng-model="query" type="text" class="form-control" placeholder="{{ 'FILTER' | translate }}" aria-describedby="basic-addon1">
            </div>
        </div>

        <div class="col-md-8 col-md-offset-2">
            <div class="clearfix">
                <p class="pull-left">
                    <button class="btn btn-success btn-xs" type="button" data-toggle="modal" data-target="#formModal">
                        <i class="glyphicon glyphicon-send glyphicon " style="margin-right: 5px"></i> {{ 'SUBMIT NEW WIDGET' | translate }}
                    </button>
                </p>
                <p class="pull-right ">Widgets: {{filtered.length}} {{ 'OF' | translate }} {{widgets.length}}</p>
            </div>
            <ul id="widget-list">
                <li ng-repeat="w in filtered = (widgets | filter:filterFunction)" ng-click='preview(w.id)'>
                    <strong>{{w.name}}</strong>
                    {{w.description}}<br>
                    <span class="author">{{ 'AUTHOR' | translate }}: {{w.author}}</span>
                    <button class="btn btn-primary" ng-click='preview(w.id)'><i class="glyphicon glyphicon-eye-open"></i></button>
                </li>
            </ul>

        </div>

    </div>
    <footer class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
            <div class="footer">
                Powered by Github | <a href="https://github.com/esri-es/Web-AppBuilder-Custom-Widgets/graphs/contributors">Contributors</a>
            </div>
        </div>
    </footer>
</div>


<div class="modal large fade" id="widgetModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">{{w.name}}</h4>
            </div>
            <div class="modal-body">
                <p>
                    <strong>{{ 'AUTHOR' | translate }}:</strong> <a href="{{w.author_link}}">{{w.author}}</a>
                </p>
                <p>
                    <strong>{{ 'DESCRIPTION' | translate }}:</strong> {{w.description}}
                </p>


                <p ng-if="!w.demo"><strong>Preview:</strong> Este widget no tiene previsualización</p>

                <iframe ng-if="w.demo" ng-src="{{w.demo | trusted}}"></iframe>

            </div>
            <div class="modal-footer">
                <div class="btn-group pull-left" role="group" aria-label="...">
                    <a class="btn btn-warning" type="button" class="btn btn-default" href="{{w.download}}" target="_blank">
                        {{ 'DOWNLOAD' | translate }} <i class="glyphicon glyphicon-arrow-down"></i>
                    </a>
                    <a class="btn btn-primary" type="button" class="btn btn-default" href="{{w.info}}">
                        {{ 'INFO' | translate }} <i class="glyphicon glyphicon-info-sign"></i>
                    </a>
                </div>
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'CLOSE' | translate }}</button>
            </div>
        </div>

    </div>
</div>

<div class="modal large fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ 'SUBMIT NEW WIDGET' | translate }}</h4>
            </div>
            <div class="modal-body">
                <iframe src="https://docs.google.com/forms/d/1M9VwuGpCqs9c5bJTlBaOWHeADPbn7fZozwSdiQCUQCs/viewform"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'CLOSE' | translate }}</button>
            </div>
        </div>

    </div>
</div>


<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5110fe544ae3cec6" async="async"></script>


<a href="http://www.esri.es" target="_blank"><img src="images/esri_espana.jpg" id="esriLogo"></a>

<a href="https://github.com/esri-es/Web-AppBuilder-Custom-Widgets"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
<script src="bower_components/angular-translate/angular-translate.min.js"></script>
<script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/js/modal.js"></script>
<script src="main.js"></script>
</body>
</html>