body{
    font-family: 'Open Sans', sans-serif;
}
#esriLogo{
    position: fixed;
    bottom: 1em;
    right: 1em;
    width: 170px;
}
h1{
    font-size: 2em;
    margin-bottom: 0;
}
.github{
    margin:1em 0;
}
.github > *{
    display:inline-block;
    margin-right: 1rem;
}
h2{
    margin-bottom: 1em;
    font-size: 1.4em;
    margin-top: .5em;
}
.search-bar{
    margin-bottom: 1em;
}
.modal.large {
    width: 80%; /* respsonsive width */
    margin-left:10%; /* width/2) */
}
.modal.large .modal-dialog{
    width: 100%;
}

.modal.large iframe{
    width: 100%;
    border: 1px solid #ccc;
    height: 600px;
}

#widget-list{
    list-style: none;
    padding: 0;
    border: 1px solid #CCC;
    z-index: 1;
    border-bottom: 0;
}
#widget-list li strong{
    margin-bottom: .5em;
    display: block;
}
#widget-list li{
    border-bottom: 1px solid #CCC;
    padding: .5em 5em .5em 1em;
    position: relative;
    cursor: pointer;
}
#widget-list .author{
    color: #888;
    font-size: .9em;
    display: block;
    border-top: 1px dotted #CCC;
    margin: 1em 0 0;
    padding: .5em 0;;
}
#widget-list li:nth-child(even){
    background-color: #F6F6F6;
}
#widget-list li:nth-child(odd){

}

#widget-list li button{
    top: 15px;
    position: absolute;
    right: 15px;
}

footer .footer{
    margin-bottom: 3em;
    /* border-top: 1px solid #CCC; */
    padding-top: 1em;
    margin-top: .5em;
}

#language{
    list-style: none;
    padding: 0;
    text-align: right;
    margin-top: 1em;
}
#language li{
    display: inline-block;
    margin-left: 20px;
    text-decoration: underline;
    color: #58A2FF;
    cursor: pointer;
}