.jimu-main-background{
  background-color: black;
}
.jimu-widget-header-controller .jimu-drop-menu{
  background-color: black;
}
.jimu-header-more-popup {
  background-color: #435063;
}
.jimu-header-more-popup .icon-node {
  background-color: black;
}
.jimu-header-more-popup .close {
  background-color: #435063;
}
.jimu-header-more-popup .close-inner {
  background-color: black;
}
/*.jimu-btn{
  color: #fff;

  background: #66696c;
  background: -moz-linear-gradient(top, #66696c 0%, #5c5f62 100%);
  background: -webkit-linear-gradient(top, #66696c 0%,#5c5f62 100%);
  background: -ms-linear-gradient(top, #66696c 0%,#5c5f62 100%);
  background: linear-gradient(to bottom, #66696c 0%,#5c5f62 100%);
}
.jimu-btn:hover{
  background: #494d51;
  background: -moz-linear-gradient(top, #494d51 0%, #363d3c 100%);
  background: -webkit-linear-gradient(top, #494d51 0%,#363d3c 100%);
  background: -ms-linear-gradient(top, #494d51 0%,#363d3c 100%);
  background: linear-gradient(to bottom, #494d51 0%,#363d3c 100%);
}
.jimu-btn.jimu-state-disabled{
  background: #d9dde0;
  color: #fff;
  box-shadow: 0px 0px 0px 1px #d9dde0 inset;
}
.jimu-btn.jimu-state-disabled:hover{
  background: #d9dde0;
  color: #fff;
}*/
.jimu-preload-widget-icon-panel>.jimu-panel-title,
.jimu-foldable-panel>.jimu-panel-title,
.jimu-title-panel>.title{
  color: white;
  background-color: #000;
}