.jimu-main-background{
  background-color: #005fa2;
}
.jimu-widget-header-controller .jimu-drop-menu{
  background-color: #005fa2;
}
.jimu-header-more-popup .icon-node {
	background-color: #005fa2;
}
.jimu-header-more-popup .close-inner {
	background-color: #005fa2;
}
.jimu-preload-widget-icon-panel>.jimu-panel-title,
.jimu-foldable-panel>.jimu-panel-title,
.jimu-title-panel>.title{
  background-color: #005fa2;
}
